---
import Head from "../components/Head.astro";
import Nav from "../components/Nav.astro";
import Main from "../components/Main.astro";
---

<!DOCTYPE html>
<html lang="en">
	<Head />
    <body class="min-h-screen bg-neutral-800 py-1 px-4 flex flex-col gap-4 dark:bg-neutral-50 transition-colors">
		<Nav />
		<Main />
    </body>
</html>
