<main
    class="bg-neutral-600 border-2 border-neutral-500 grow rounded-md p-5 gap-6 flex justify-start items-start flex-wrap relative content-start dark:bg-neutral-100 dark:border-neutral-200 transition-colors todo-container"
>
    <button
        class="w-64 bg-neutral-800 text-neutral-50 rounded-md py-10 text-2xl font-medium border-2 border-neutral-500 hover:bg-neutral-700 dark:border-neutral-300 dark:bg-neutral-100 dark:hover:bg-neutral-200 dark:text-neutral-900 max-h-48 transition-colors add-todo-btn"
    >
        Create new todo
    </button>
</main>
