<main
    class="bg-[#1b1b1b] border border-accentDark grow rounded-md p-5 gap-6 flex justify-start items-start flex-wrap relative content-start dark:bg-primary dark:border-accent transition-colors todo-container"
>
    <button
        class="w-64 bg-[#1f1f1f] text-neutral-50 rounded-md py-10 text-2xl font-medium border border-[#303030] hover:bg-[#242424] dark:border-neutral-300 dark:bg-neutral-100 dark:hover:bg-neutral-200 dark:text-neutral-900 max-h-48 transition-colors add-todo-btn"
    >
        New todo
    </button>
</main>
