<nav
    class="bg-[#1b1b1b] flex gap-6 py-4 px-3 rounded-md border border-accentDark dark:bg-primary dark:border-accent transition-colors navbar"
>
    <header>
        <a href="/"><img class="w-14 rounded-md" src="/favicon.png" alt="tasks icon" /></a>
    </header>
    <input
        class="rounded-md grow pl-4 text-neutral-50 text-xl bg-[#1f1f1f] border border-[#303030] focus:outline-none focus:bg-[#272727] dark:focus:border-[#a0a0a0] dark:bg-neutral-100 dark:border-accent dark:text-neutral-900 transition-colors search-input"
        placeholder="Search your todo..."
        type="search"
    />
    <button
        class="flex-center w-14 hover:bg-[#242424] aspect-square dark:hover:bg-[#e4e4e4] border border-accentDark dark:border-accent rounded-md transition-colors theme-btn"
    >
        <span class="sun-icon"
            ><i class="fa-solid fa-sun text-neutral-100 dark:text-black text-2xl"></i>
        </span>
        <span class="moon-icon"
            ><i class="fa-solid fa-moon text-neutral-100 dark:text-black text-2xl"></i>
        </span>
    </button>
</nav>
